@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src ="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdc.fandom.com%2Fwiki%2FBatman_(Bruce_Wayne)&psig=AOvVaw2jUUcMt3Tt_HoRWkWxTY1c&ust=1590023099961000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJiO_uSfwekCFQAAAAAdAAAAABAD" style="width:300px;height:500px;">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
